body {
  font: normal 12px/1.6em Microsoft YaHei, Tahoma, simsun;
  color: #929394;
}
input {
  outline: none;
}
p {
  margin: 0;
}
li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.cl {
  clear: both;
}
.autoWidth {
  width: 1280px;
  text-align: center;
  margin: 0 auto;
}
#footer {
  clear: both;
  height: 65px;
  padding-top: 10px;
  line-height: 22px;
  text-align: center;
  min-width: 1280px;
  color: #fff;
  background: #0b101e;
}
#footer a {
  color: #fff;
}
.right_icons {
  height: 45px;
  position: absolute;
  right: 25px;
}
.right_icons li:hover {
  color: white;
}
.right_icons .review {
  color: #e7ebee;
}
.right_icons .publish {
  color: #e7ebee;
  background: #1f2b39;
}
.right_icons .save {
  color: #e7ebee;
  background: #405b78;
}
.right_icons .user_info {
  margin-left: 10px;
  width: auto;
  height: 45px;
  padding: 0;
  text-align: center;
  line-height: 22px;
  font-size: 12px;
  float: right;
  cursor: pointer;
  position: relative;
  color: #00a1d8;
}
.right_icons .user_info .user_nick {
  margin: 0;
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
}
.right_icons .user_info .user_nick .short_nick {
  max-width: 150px;
  min-width: 80px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.right_icons .user_info .user_nick .caret {
  height: 45px;
  line-height: 45px;
}
.right_icons .user_info .user_nick p {
  display: inline-block;
  margin: 0;
}
.right_icons .user_info .user_nick a,
.right_icons .user_info .user_nick a:link,
.right_icons .user_info .user_nick a:visited,
.right_icons .user_info .user_nick a:active {
  color: none;
  text-decoration: none;
}
.right_icons .user_info .user_nick a:hover {
  color: white;
}
.right_icons .user_info .user_info_container {
  display: none;
  width: 100%;
  position: relative;
}
.right_icons .user_info .user_info_container .user_info_item {
  z-index: 20;
  width: 100%;
  height: 45px;
  text-align: center;
  color: #dfe3e7;
  line-height: 45px;
  background-color: #243140;
  border-top: solid #1f2b39;
}
.right_icons .user_info .user_info_container .user_info_item a,
.right_icons .user_info .user_info_container .user_info_item a:link,
.right_icons .user_info .user_info_container .user_info_item a:visited,
.right_icons .user_info .user_info_container .user_info_item a:active {
  color: none;
  text-decoration: none;
}
.right_icons .user_info .user_info_container .user_info_item a:hover {
  color: white;
}
.right_icons .user_info .user_info_container .user_info_item:hover {
  color: white;
}
.right_icons .user_info .user_info_container .user_info_item:hover a {
  color: white;
}
.right_icons .user_info:hover {
  background-color: #243140;
}
.right_icons .user_info:hover a {
  color: white;
}
.right_icons .user_info:hover .user_info_container {
  display: block;
}
.right_icons .right_icons_item {
  width: 70px;
  height: 22px;
  margin: 12px 0 0 0;
  margin-left: 10px;
  padding: 0;
  border-radius: 5px;
  text-align: center;
  line-height: 22px;
  font-size: 12px;
  float: left;
  cursor: pointer;
}
.right_icons .right_icons_item i {
  line-height: 22px;
  font-size: 12px;
}
