body {
  background-color: #1f2b39;
  left: 0;
  right: 0;
  padding: 0;
  border: none;
  margin: 0;
  font-family: "微软雅黑";
}
.header {
  position: relative;
  height: 45px;
  background-color: #0d141e;
  z-index: 10;
}
.header .left_icon {
  top: 0;
  bottom: 0;
  left: 40px;
  margin: auto 0;
  position: absolute;
}
.header .title_input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 375px;
  height: 30px;
  visibility: hidden;
}
.header .title_input input {
  width: 375px;
  height: 30px;
  padding: 0 5px;
  text-align: center;
}
.header .title_input input {
  border: none;
}
.header .title_input input {
  background-color: #253545;
}
.header .title_input input {
  color: #959ea6;
}
.footer {
  margin-top: 10px;
  height: 30px;
  background-color: black;
}
.grid-stack-item-content {
  text-align: center;
  padding: 2.5px;
}
.grid-stack-item-content .w_item {
  width: 100%;
  height: 100%;
  position: relative;
}
.grid-stack-item-content .w_item .bgDiv {
  background-color: white;
  width: 100%;
  height: 100%;
}
.grid-stack-item-content .w_item img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.left_area {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 45px;
  visibility: hidden;
}
.left_area .content {
  width: 280px;
  height: 100%;
  background-color: #253545;
}
.left_area .content .template_nav {
  position: relative;
  padding: 0 15px;
  height: 34px;
  line-height: 30px;
  color: #959ea6;
  font-size: 12px;
}
.left_area .content .template_nav .template_item {
  display: inline-block;
  width: 80px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}
.left_area .content .template_nav .template_item:hover {
  color: white;
}
.left_area .content .template_nav .active {
  background: url("../images/bg_bt01.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.left_area .content .template_nav .normal {
  background: none;
}
.left_area .content .img_area {
  top: 74px;
  bottom: 0;
  padding: 0;
  position: absolute;
  width: 280px;
  background-color: #2e4052;
}
.left_area .content .img_area .img_list {
  width: 280px;
  height: 100%;
  padding-left: 4px;
}
.left_area .content .img_area .img_list .no_images {
  position: relative;
  max-width: 100%;
  height: 100px;
  padding-top: 40px;
  padding-left: 34px;
}
.left_area .content .img_area .img_list ul {
  padding: 15px 0;
  margin-bottom: 0;
}
.left_area .content .img_area .img_list li {
  margin-bottom: 10px;
  width: 120px;
  height: 214px;
  float: left;
  margin-left: 10px;
  background-color: white;
  cursor: pointer;
  position: relative;
}
.left_area .content .img_area .img_list li img {
  position: absolute;
  width: 100%;
  max-height: 214px;
}
.left_area .content .img_area .img_list li .template_used {
  top: 4px;
  left: 64px;
  max-width: 60px;
}
.left_area .content .img_area .img_list li .template_del {
  display: none;
  position: absolute;
  width: 100%;
  height: 25px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  font-size: 16px;
  line-height: 23px;
  padding-right: 5px;
}
.left_area .content .img_area .img_list li:nth-child(1),
.left_area .content .img_area .img_list :nth-child(2) {
  margin-top: 0;
}
.left_area .content .img_area .img_list .active {
  border: solid #00a1d8 2px;
}
.left_area .content .img_area .img_list li:hover {
  border: solid #00a1d8 2px;
}
.mid_area {
  position: absolute;
  top: 0;
  left: 278px;
  right: 278px;
  height: 100%;
  padding-top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: -1;
}
.mid_area .container-fluid {
  position: relative;
  visibility: hidden;
}
.mid_area .container-fluid .row {
  background-color: #f3f5f7;
}
.mid_area .container-fluid .row .fluid_bg {
  width: 100%;
  height: 175px;
  position: absolute;
  text-align: center;
  top: 84px;
}
.mid_area .container-fluid .row .fluid_bg .set_up_bg {
  position: absolute;
  left: 12px;
  top: 12px;
  color: #00a1d8;
  width: 70px;
  height: 30px;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  cursor: pointer;
}
.mid_area .container-fluid .row .fluid_bg .set_up_bg:hover {
  color: white;
}
.mid_area .container-fluid .row .fluid_bg img {
  width: 100%;
  height: 100%;
}
.mid_area .container-fluid .row .add_moudel {
  position: absolute;
  float: right;
  left: 380px;
  width: 30px;
  height: 30px;
  top: 85px;
  text-align: center;
  cursor: pointer;
  color: #959ea6;
}
.mid_area .container-fluid .row .add_moudel .add_type {
  font-size: 28px;
  line-height: 30px;
}
.mid_area .container-fluid .row .add_moudel:hover {
  color: white;
}
.mid_area .container-fluid .row .add_border {
  position: absolute;
  float: right;
  left: 380px;
  width: 30px;
  height: 30px;
  top: 130px;
  text-align: center;
  cursor: pointer;
  color: #959ea6;
}
.mid_area .container-fluid .row .add_border .add_type {
  font-size: 28px;
  line-height: 30px;
}
.mid_area .container-fluid .row .add_border:hover {
  color: white;
}
.right_area {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding-top: 45px;
  overflow-x: hidden;
}
.right_area .modify_title {
  height: 30px;
  width: 100%;
  line-height: 30px;
  color: #959ea6;
  text-align: left;
  padding-left: 33px;
  background-color: #263646;
}
.right_area .modify_title .resize_img {
  font-size: 15px;
}
.right_area .content {
  height: 100%;
}
.right_area .content .modify_nav {
  position: relative;
  width: 60px;
  height: 100%;
  background-color: #263646;
  color: #959ea6;
}
.right_area .content .modify_nav .nav_top {
  position: absolute;
  top: 20px;
  height: 200px;
  width: 60px;
  text-align: center;
  margin-bottom: 20px;
}
.right_area .content .modify_nav .nav_top i {
  display: block;
  width: 100%;
  height: 20px;
  font-size: 30px;
  padding-bottom: 67px;
}
.right_area .content .modify_nav .nav_bottom {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 60px;
  text-align: center;
}
.right_area .content .modify_nav .nav_bottom i {
  text-align: center;
  font-size: 30px;
  width: 60px;
}
.right_area .content .modify_grid {
  position: relative;
  display: table-cell;
  width: 272px;
  height: 100%;
  padding: 0;
  right: -272px;
  background-color: #2e4052;
}
.right_area .content .modify_grid .modify_top {
  height: 60px;
  padding: 18px 15px;
  position: relative;
}
.right_area .content .modify_grid .modify_top .add_del {
  display: block;
  height: 30px;
}
.right_area .content .modify_grid .modify_top .add_del .add_grid {
  background: #405b78;
  font-size: 15px;
  line-height: 27px;
  color: #959ea6;
  cursor: pointer;
  border: solid 2px #273748;
}
.right_area .content .modify_grid .modify_top .add_del .add_grid:hover {
  color: white;
}
.right_area .content .modify_grid .modify_top .add_del .del_grid {
  background: #1f2b39;
  font-size: 15px;
  line-height: 27px;
  color: #959ea6;
  cursor: pointer;
  border: solid 2px #0d141e;
}
.right_area .content .modify_grid .modify_top .add_del .del_grid:hover {
  color: white;
}
.right_area .content .modify_grid .modify_top .add_del li {
  margin-left: 15px;
  width: 80px;
  height: 30px;
  float: left;
  border-radius: 5px;
  text-align: center;
}
.right_area .content .modify_grid .set_size {
  height: 90px;
  position: relative;
}
.right_area .content .modify_grid .set_size .title {
  height: 90px;
  width: 5px;
  font-size: 14px;
  margin-left: 14px;
  line-height: 90px;
  color: #959ea6;
}
.right_area .content .modify_grid .set_size .size_type {
  top: 4px;
  bottom: 0;
  height: 35px;
  width: 35px;
  text-align: center;
  color: #959ea6;
  margin-left: 10px;
  cursor: pointer;
  position: relative;
}
.right_area .content .modify_grid .set_size .size_type i {
  line-height: 42px;
  font-size: 20px;
}
.right_area .content .modify_grid .set_size .size_type:hover {
  color: white;
}
.right_area .content .modify_grid .set_size .set_size_active {
  background-color: #1f2b3b;
}
.right_area .content .modify_grid .set_size .size_type:first {
  margin-left: 0px;
}
.right_area .content .modify_grid .set_size div {
  display: inline-block;
}
.right_area .content .modify_grid .img_nav {
  position: relative;
  padding: 0 14px;
  height: 30px;
  line-height: 30px;
  color: #959ea6;
  font-size: 12px;
  margin-top: 10px;
  visibility: hidden;
}
.right_area .content .modify_grid .img_nav .img_nav_item {
  display: inline-block;
  width: 80px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}
.right_area .content .modify_grid .img_nav .img_nav_item:hover {
  color: white;
}
.right_area .content .modify_grid .img_nav .active {
  background: url("../images/bg_bt02.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.right_area .content .modify_grid .img_nav .normal {
  background: none;
}
.right_area .content .modify_grid .modify_mid {
  top: 280px;
  bottom: 49px;
  padding: 0 0;
  position: absolute;
  width: 100%;
  visibility: hidden;
}
.right_area .content .modify_grid .modify_mid .img_modify_eara {
  position: absolute;
  top: 0;
  bottom: 10px;
}
.right_area .content .modify_grid .modify_mid .img_modify_eara .del_panel {
  position: relative;
  height: 35px;
  width: 250px;
  color: #c0c0c2;
}
.right_area .content .modify_grid .modify_mid .img_modify_eara .del_panel .del_item_left {
  position: absolute;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  width: 40px;
  left: 20px;
  font-size: 12px;
  text-align: center;
  top: 0;
  bottom: 0;
  margin: auto;
}
.right_area .content .modify_grid .modify_mid .img_modify_eara .del_panel .del_item_mid {
  position: absolute;
  display: none;
  height: 22px;
  line-height: 22px;
  width: 60px;
  left: 80px;
  font-size: 12px;
  text-align: center;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
.right_area .content .modify_grid .modify_mid .img_modify_eara .del_panel .del_item_mid .iconfont {
  font-size: 14px;
}
.right_area .content .modify_grid .modify_mid .img_modify_eara .del_panel .del_item_right {
  position: absolute;
  right: 15px;
  display: inline-block;
  height: 22px;
  line-height: 20px;
  width: 60px;
  text-align: center;
  background-color: #394e63;
  border: solid #1f2b39 1px;
  border-radius: 4px;
  font-size: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
.right_area .content .modify_grid .modify_mid .img_modify_eara .del_panel .del_item_right:hover {
  color: white;
}
.right_area .content .modify_grid .modify_mid .img_modify_eara .del_panel .del_item_mid:hover {
  color: white;
}
.right_area .content .modify_grid .modify_mid .img_modify_eara .uploadImage {
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  height: 30px;
  border-color: #263646;
  background-color: #394e63;
  color: #c0c0c2;
  cursor: pointer;
}
.right_area .content .modify_grid .modify_mid .img_modify_eara .uploadImage:hover {
  color: white;
}
.right_area .content .modify_grid .modify_mid .img_modify_eara .img_area {
  position: absolute;
  height: 100%;
  width: 246px;
  background-color: #263646;
  left: 13px;
}
.right_area .content .modify_grid .modify_mid .img_modify_eara .img_area .img_list {
  height: 100%;
  padding-left: 2px;
  width: 254px;
  display: inline-block;
}
.right_area .content .modify_grid .modify_mid .img_modify_eara .img_area .img_list ul {
  margin-top: 10px;
  height: 100%;
}
.right_area .content .modify_grid .modify_mid .img_modify_eara .img_area .img_list .img_1:hover {
  border: solid #00a1d8 2px;
}
.right_area .content .modify_grid .modify_mid .img_modify_eara .img_area .img_list .hover_del {
  display: none;
  position: absolute;
  width: 74px;
  height: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  font-size: 16px;
  line-height: 20px;
  padding-right: 2px;
}
.right_area .content .modify_grid .modify_mid .img_modify_eara .img_area .img_list .sel_del {
  display: none;
  position: absolute;
  width: 74px;
  height: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-size: 16px;
  padding-left: 2px;
  padding-top: 2px;
  line-height: 20px;
}
.right_area .content .modify_grid .modify_mid .img_modify_eara .img_area .img_list .sel_del input {
  display: none;
}
.right_area .content .modify_grid .modify_mid .img_modify_eara .img_area .img_list li {
  width: 74px;
  height: 74px;
  float: left;
  margin-bottom: 5px;
  margin-left: 5px;
  background-color: #1f2b3b;
  cursor: pointer;
}
.right_area .content .modify_grid .modify_mid .img_modify_eara .img_area .img_list li img {
  width: 100%;
  height: 100%;
}
.right_area .content .modify_grid .modify_bottom {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: #263646;
}
.right_area .content .modify_grid .modify_bottom input {
  border: none;
}
.right_area .content .modify_grid .modify_bottom input {
  background-color: #1f2b3b;
}
.right_area .content .modify_grid .modify_bottom input {
  color: white;
}
.right_area .content .modify_grid .modify_bottom .notice {
  color: #959ea6;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
}
.right_area .content .modify_grid .modify_bottom .notice i {
  height: 30px;
  font-size: 24px;
  line-height: 30px;
  vertical-align: middle;
}
.right_area .content .modify_grid .modify_bottom .input_herf {
  height: 30px;
  width: 200px;
  resize: none;
}
.right_area .content .modify_grid .modify_bottom ul {
  position: absolute;
  top: 10px;
}
.right_area .content .modify_grid .modify_bottom li {
  float: left;
  margin-left: 5px;
}
.div_scroll {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.scroll_container {
  width: 100%;
  position: relative;
}
.scroll_absolute {
  width: 100%;
  position: absolute;
}
.scroll_vertical_bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background: rgba(1, 1, 1, 0);
  margin: 0;
  padding: 0;
}
.scroll_track {
  position: relative;
  background-color: rgba(1, 1, 1, 0);
}
.scroll_drag {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: #40576f;
}
.scroll_arrow {
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  background-color: #369DB4;
}
.scroll_vertical_bar .scroll_arrow {
  height: 16px;
}
.checkboxStyle {
  width: 25px;
  position: relative;
}
.checkboxStyle label {
  cursor: pointer;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 3px;
  left: 3px;
  border: solid 1px white;
}
.checkboxStyle label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: #00a1d8;
  top: 2px;
  left: 2px;
  border: 4px solid #00a1d8;
}
.checkboxStyle label:hover::after {
  opacity: 0;
}
.checkboxStyle input[type=checkbox]:checked + label:after {
  opacity: 1;
}
input {
  border: solid 1px #f0f0f0;
}
input {
  background-color: white;
}
input {
  color: #5f5f5f;
}
button {
  border: none;
}
