body {
  font: normal 12px/1.6em Microsoft YaHei, Tahoma, simsun;
  color: #929394;
  margin: 0;
  padding: 0;
}
.bg_effect {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #003366;
}
.login_area {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 360px;
  height: 375px;
  font-size: 12px;
}
.login_area .login_top {
  position: relative;
  height: 340px;
  padding: 0 30px;
  color: #5f5f5f;
  background-color: white;
}
.login_area .login_top .logo {
  width: 100%;
  height: 80px;
  position: relative;
}
.login_area .login_top .logo img {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}
.login_area .login_top .wrong_notice {
  position: absolute;
  top: 60px;
  color: red;
}
.login_area .login_top .user_name p {
  height: 12px;
  line-height: 12px;
}
.login_area .login_top .user_name .input_class {
  height: 34px;
  width: 100%;
}
.login_area .login_top .password {
  margin-top: 12px;
}
.login_area .login_top .password p {
  height: 12px;
  line-height: 12px;
}
.login_area .login_top .password .input_class {
  height: 34px;
  width: 100%;
}
.login_area .login_top .notice {
  margin-top: 17px;
  position: relative;
  height: 24px;
  width: 100%;
}
.login_area .login_top .notice .auto_login {
  position: absolute;
  left: 0;
  width: 120px;
}
.login_area .login_top .notice .forget_password {
  position: absolute;
  right: 0;
  color: #00a1d8;
  cursor: pointer;
}
.login_area .login_top .login_btn {
  margin-top: 12px;
  height: 34px;
  text-align: center;
  background-color: #00a1d8;
  line-height: 34px;
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
}
.login_area .login_bottom {
  position: absolute;
  height: 35px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 12px;
  bottom: 0;
}
.login_area .login_bottom p {
  line-height: 15px;
}
.login_area .login_bottom .about_us {
  position: absolute;
  left: 15px;
  cursor: pointer; 
}
.login_area .login_bottom .quick_register {
  position: absolute;
  right: 15px;
  cursor: pointer;  
}
.register_area {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 360px;
  height: 505px;
  font-size: 12px;
}
.register_area .register_top {
  position: relative;
  height: 470px;
  padding: 0 30px;
  color: #5f5f5f;
  background-color: white;
}
.register_area .register_top .logo {
  width: 100%;
  height: 80px;
  position: relative;
}
.register_area .register_top .logo img {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}
.register_area .register_top .wrong_notice {
  position: absolute;
  top: 60px;
  color: red;
}
.register_area .register_top .user_name p {
  height: 12px;
  line-height: 12px;
}
.register_area .register_top .user_name .input_class {
  height: 34px;
  width: 100%;
}
.register_area .register_top .password {
  margin-top: 12px;
}
.register_area .register_top .password p {
  height: 12px;
  line-height: 12px;
}
.register_area .register_top .password .input_class {
  height: 34px;
  width: 100%;
}
.register_area .register_top .notice {
  margin-top: 17px;
  position: relative;
  height: 24px;
  width: 100%;
}
.register_area .register_top .notice .auto_login {
  position: absolute;
  left: 0;
  width: 120px;
}
.register_area .register_top .notice .forget_password {
  position: absolute;
  right: 0;
  color: #00a1d8;
  cursor: pointer;
}
.register_area .register_top .register_btn {
  margin-top: 33px;
  height: 34px;
  text-align: center;
  background-color: #00a1d8;
  line-height: 34px;
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
}
.register_area .login_bottom {
  position: absolute;
  height: 35px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 12px;
  bottom: 0;
}
.register_area .login_bottom p {
  line-height: 15px;
}
.register_area .login_bottom .about_us {
  position: absolute;
  left: 15px;
  cursor: pointer;
}
.register_area .login_bottom .quick_login {
  position: absolute;
  right: 15px;
  cursor: pointer;  
}
input {
  border: solid 1px #f0f0f0;
}
input {
  background-color: white;
}
input {
  color: #5f5f5f;
}
.checkboxStyle {
  width: 25px;
  position: relative;
}
.checkboxStyle label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: #00a1d8;
  border-radius: 5px;
}
.checkboxStyle label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 5px;
  border: 3px solid white;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.checkboxStyle label:hover::after {
  opacity: 0;
}
/**
 * Create the checkbox state for the tick
 */
.checkboxStyle input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.vignette {
  background-image: -webkit-radial-gradient(50% 50%, ellipse, rgba(0, 0, 0, 0) 40%, #000000 100%);
  background-image: radial-gradient(50% 50%, ellipse, rgba(0, 0, 0, 0) 40%, #000000 100%);
}
.noise {
  background-image: url("../graphics/noise.png");
  opacity: 0.075;
}
.hide {
  opacity: 0;
}
.overlay {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.container {
  width: 100%;
  height: 100%;
}
.container canvas {
  width: 100%;
  height: 100%;
}
.footer{
    position: absolute;
    bottom: 17px;
    width: 100%;
    height: 25px;
    line-height: 25px;
    // background-color: white;
    text-align: center;        
}
.footer  p{
   line-height: 25px;
   height: 25px;
   color: #5198b1; 
   margin: 0;
}